<!DOCTYPE html>
<html>
<head>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/corecss.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/navbar.css}" />

</head>
<body>

	<main>


   <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Applicativo exemplo</h1>
          <p>Este applicativo foi criado com o objetivo de estudo, como reforço no aprendizado da linguagem Java pelo SpringBoot e uso do Thymeleaf.  </p>

          <p>
           <!--  <a class="btn btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>--> 
          </p>
        </div>
      </div>
    </div>
 

      
  </main>    
  </body>
</html>