<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Novo Usuário</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/corecss.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/navbar.css}" />

</head>
<body>
	<main>

	  <div>
   <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
					<p>
					<h1>Cadastrar novo usuário</h1>
					<form action="/novousuario" modelAtribute="usuario" method="POST">
						Login: <br> <input class="form-control" type="text"
							name="login"> <br> Nome Completo: <br> 
							<input class="form-control" type="text" name="nomeCompleto"> <br>
						Senha: <br> 
						<input class="form-control" type="password" name="senha"> <br> 
						<input	class="form-control::-webkit-input-placeholder" type="submit" value="Criar Login">
					</form>

					<!--  <a class="btn btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>-->
					</p>

			</div>
		</div>
	</main>
</body>
</html>

